
hr {
  margin: 15px 0 !important;
}


/* TABS */
        
.tab-buttons {
  border: none;
  border-radius: 25px;
  background-color: #D8F1FF;
}

/* DASHBOARD */

.main.bslib-gap-spacing.html-fill-container {
  background-color: #F5F5F5 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.result-container {
  margin: 30px 100px;
  padding-bottom: 50px;
}

.content-title {
  font-size: 30px;
  font-weight: bold;
}

.dashboard-box {
  margin-bottom: 40px;
}

.info-containers {
  margin-top: 20px;
}


.budget_download_btn {
  background-color: #D1FFE4;
  color: black;
  float: right;
  border: none;
  border-radius: 15px;
  margin-bottom: 50px;
}

.exit_session_btn {
  width: 100%;
  background-color: #FFDCDC;
  color: black;
  border: none;
  border-radius: 15px;
}

.value-box-row2 {
  height: auto;
}

.circos-graph {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.exit-session-popup .modal-header {
  justify-content: center;
  position: relative;
  padding: 20px 20px 0 20px;
}

.exit-session-popup .modal-title {
  font-weight: bold;
}

.exit-session-popup .modal-body {
  padding: 20px;
  text-align: center;
}

.exit-session-popup .modal-footer {
  padding-top: 0;
  justify-content: center;
}

.session-btn {
  border: none;
  border-radius: 15px;
  background-color: #FFDCDC;
}






/* FORECAST PAGE */

.card-title {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 600;
}

#upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

#left-upload {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  min-width: 0;
}

#left-upload .shiny-input-container {
  width: 800px;
}

#left-upload .input-group {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  min-width: 0;
}

#left-upload .input-group-btn.input-group-prepend {
  flex: 0 0 auto;
}

.btn.btn-default.btn-file {
  border: none;
  border-radius: 15px !important;
  background-color: #0080FF;
  color: white;
  overflow: hidden;
}

#left-upload .btn-file:hover {
  background-color: #404040;
}

#left-upload input[type='text'] {
  flex: 1;
  min-width: 120px;
  margin-left: 12px;
  border-radius: 10px;
  max-width: 40ch;
  margin-top: 5px;
}


#left-upload .shiny-file-input-progress {
  margin-top: 8px;
  width: auto;
}

#right-download {
  flex-shrink: 0;
  align-self: flex-start;
}

.template-download-btn {
  border: none;
  border-radius: 15px;
  background-color: #F0F0F0;
}

.generate_forecast_btn {
  width: 100%;
  background-color: #D1FFE4;
  color: black;
  border: none;
  border-radius: 15px;
}

#priority-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.priority-cards {
  flex: 1;
  min-width: 0;
}

/* DATA TABLE IN COL PRIORITY STYLES */
#priority-container .dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
  width: 100%;
  min-width: 60px;
  margin-bottom: 10px;
}

#priority-container .dataTables_filter label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

#priority-container .dataTables_filter input {
  flex: 1;
  max-width: 400px;
  min-width: 60px;
  margin-left: 0px !important;
}

#set-priority-card .html-fill-container,
#upload-card .html-fill-container {
  padding: 16px 25px;
}

#priority-container .html-fill-container {
  padding: 16px 25px;
}

.card-style {
  padding: 0;
  background-color: #F5F5F5;
  border: none;
}



.categories-table {
  border: 1px solid #8D959E;
  
}

.categories-header {
  padding: 10px;
  border-bottom: 1px solid #8D959E;
  background-color: #DBDBDB;
}

.categories-title {
  color: #0B2D4F;
  font-weight: 700;
  margin-left: 10px;
}

.allowed-categories .rank-list-container,
.allowed-categories .rank-list {
  margin: 0 !important;
  background-color: #F0F0F0 !important;
}


.allowed-categories .rank-list {
  counter-reset: cat;
}

.allowed-categories .rank-list-item {
  counter-increment: cat;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  padding: 0 !important;
  border-color: #8D959E;
  height: 40px;
  column-gap: 10px !important;
  margin-bottom: 10px;
}

.allowed-categories .rank-list-item:last-child {
  margin-bottom: 0;
}

.allowed-categories .rank-list-item::before {
  content: counter(cat);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid #8D959E;
  color: #0B2D4F;
  font-weight: 700;
  pointer-events: none;
}


.select_priority_input_type{
  margin-top: 15px;
}

.select_priority_input_type .selectize-input {
  border: none;
  background-color: #ECF9FF;
  box-shadow: 0 1px 3px #D4D4D4;
}

.select_priority_dropdown .selectize-input {
  margin-top: 5px;
  border: none;
  background-color: #ECF9FF;
  box-shadow: 0 1px 3px #D4D4D4;
}

.select_priority_dropdown .shiny-input-container {
  width: 100%;
}


.no-second-priority {
  text-align: center;
  margin: 30px 0 20px 0;
}


.control-label.shiny-label-null {
  display: none;
}

.shiny-input-radiogroup {
  width: 100% !important;
  margin-top: 20px !important;
}

.shiny-input-radiogroup label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.shiny-input-radiogroup label:hover {
  background-color: #EAEAEA;
}

.shiny-input-radiogroup label:has(input[type='radio']:checked) {
  background-color: #D8F1FF;
}

.radio {
  border: 1px solid #8D959E;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px !important;
}

.radio-title {
  color: #0B2D4F;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 5px;
}


/* Prevent text selection during drag */
#sample_manual_table tbody td {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* FUNDING AND EXPENSE PAGES */

.input-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add_data_btn {
  border: none;
  border-radius: 15px;
  background-color: #CACACA;

}

.initial-excel-download {
  border: none;
  border-radius: 15px;
  background-color: #D1FFE4;
  color: black;
  float: right;
}

.add-funding-popup .modal-header,
.add-expense-popup .modal-header {
  padding: 20px 25px 0 25px;
}

#date-container {
  display: flex;
  gap: 20px;
}

.date-valid {
  flex: 1;
  min-width: 0;
}

.modal-title {
  font-weight: 700 !important;
}

.modal-subtitle {
  font-weight: normal;
  font-size: 13px;
}

.modal-footer {
  padding: 0 20px 20px 20px;
  justify-content: center;
}

.add-funding-popup .modal-body,
.add-expense-popup .modal-body {
  padding: 25px 25px 20px 25px;
}

.add-funding-confirm,
.add-expense-confirm {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
}

.data-input-headers {
  margin-bottom: 10px;
  font-weight: bold;
}

#funding-form .form-control,
#expense-form .form-control,
#funding-allowed-categories .selectize-input,
#expense-categories .selectize-input {
  border: none;
  border-radius: 10px;
  background-color: #E5E4E4;
}

.elongated-input .shiny-input-container,
#funding-allowed-categories .shiny-input-container,
#expense-categories .shiny-input-container,
#latest-payment-date .shiny-input-container {
  width: 100%;
}

#funding-allowed-categories .selectize-input,
#expense-categories .selectize-input {
  padding: 6px 12px;
}


/* DELETE TABLE ROW */

.dropdown-toggle {
  background-color: #CACACA !important;
  border: none !important;
  color: #404040 !important;
}

.dropdown-toggle:hover {
  background-color: #1D1F21 !important;
  color: white !important;
}

.dropdown-toggle::after {
  display: none !important
}

.dataTables_info {
  padding: 0 !important;
}

.row.align-items-center {
  margin-bottom: 20px !important;
}


  


